# dependencies
node_modules

# next
.next
out

# build
coverage
playwright-report
test-results
tsconfig.tsbuildinfo
local.db
.local

# env
.env
.env.*
!.env.example

# misc
.DS_Store
*.log

# vercel
.vercel
.env*.local
